body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.login-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('./../images/fondos/back.jpg'); */
  background: #2d384a;
  /* background: url('./../images/fondos/light.jpg'); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  flex-direction: column;
}

#flip-container{
  -webkit-perspective: 1000px;
  perspective: 1000px;
  padding: 0;
  position: relative;
  margin: 10px auto;
  width: 40%;
  transition: all .5s ease;
  
}

#flip-container:hover{
  /* transform: scale(1.01); */
}

.card {
  position: relative;
  width: auto;
  height: 500px;
  transition: 0.8s;
  transform-style: preserve-3d;
  /* transform-origin: 100% 25px; */
  box-shadow: 1px 1px 19px darkslategrey;
  margin: 5px;
}

.card:hover{
  box-shadow: 3px 3px 29px darkslategrey;
}

.wrap-login-front, .wrap-login-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}

.wrap-login-front{
  transform: rotateX(0deg);
  z-index: 2;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  /* box-shadow: 1px 1px 19px darkslategrey; */
}

.wrap-login-back{
  transform: rotateX(180deg);
  /* background: repeating-linear-gradient( -45deg, #ececec,#ececec 10px,#dedede 10px,#dedede 20px); */
  text-align: center;
  background: rgba(255, 255, 255, 1);
  /* box-shadow: 1px 1px 19px darkslategrey; */
}

.titulo-bienvenida, .titulo-inicio-sesion{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  color: #424242;
}

.txt-bienvenida, .txt-indicaciones {
  margin-top: 10px;
  color: #212121;
  margin-bottom: 40px;
}

.logo-bienvenida{
  margin: 55px 0;
}

.logo-bienvenida img{
  width: 90px;
}

.wrap-select-sare{
  margin-bottom: 45px;
}

/* estilos select */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  /* background-color: rgb(50, 145, 240); */
  color: #424242 !important;
  border-bottom: 1px solid #f5f5f5 !important;
  width: 70%;
  margin: 0 auto;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #424242;
  padding: 10px 16px;
  border: 1px solid transparent;
  /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
  cursor: pointer;
  user-select: none;
  text-align: left;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #FDFDFD;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid rgba(128, 128, 128, .2);
  width: 77%;
  margin: 0 auto;
  border-top: none;
  box-shadow: 5px 5px 10px rgba(117, 117, 117, .3);
  height: 200px;
  overflow-y: auto;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background: #5562eb;
  color: white !important;
}
/* end estilos select */

.btn-inicio-sesion{
  background: #424242;
  color: white;
  padding: 15px 60px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  transition: all .7s ease-in-out;
  display: inline-block;
}

.btn-inicio-sesion:hover{
  background: #5562eb;
  box-shadow: 1px 1px 11px #212121
}

.btn-inicio-sesion:active{
  transform: scale(0.9);
}

.btn-inicio-sesion.start{
  margin:35px 0 30px;
}

.no-visible{
  display: none;
}

.go-back{
  position: absolute;
  top: 10px;
  left: 13px;
  cursor: pointer;
}

.go-back img{
  width: 30px;
}

.titulo-inicio-sesion{
  margin-top: 25px;
}

.wrap-input{
  border: 1px solid #e0e0e0;
  width: 70%;
  margin: 15px auto;
  padding: 15px 30px;
  border-radius: 35px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.wrap-input:hover{
  border: 1px solid #bdbdbd;
}

.txt-user, .txt-password{
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 12px;
  color: #212121;
  font-weight: 100;
}

.input-form{
  border: none;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  box-sizing: content-box;
  padding: 10px 5px 5px 5px;
  outline: none;
  margin-top: 10px;
  color: #424242;
}

.input-form::placeholder{
  color:#5562eb;
}

.input-form:focus{
  border-bottom: 1px solid #5562eb;
}

.logo-bienvenida-back  img{
  width: 50px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #FFF !important;
    -webkit-box-shadow: 0 1px 0 0 #FFF !important;
    box-shadow: 0 1px 0 0 #FFF !important;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default){
    -webkit-box-shadow: 0 1px 0 0 #FFF !important;
    box-shadow: 0 1px 0 0 #FFF !important;
}



/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green !important; */
  /* -webkit-text-fill-color: green !important; */
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}


/* clases validaciones */
.wrap-input-empty{
  border: 1px solid #b71c1c;
}
.select-no-selected{
  background: #b71c1c;
  color: white !important;
}
/* end clases validaciones */

@media screen and (max-width:1024px){
  #flip-container{
    width: 55%;    
  }
}

@media screen and (max-width:768px){
  #flip-container{
    width: 70%;    
  }
}

@media screen and (max-width: 480px){
  #flip-container {
      width: 90%;
  }

  #flip-container:hover {
    transform: scale(1);
  }

  .card{
    height: 400px;
  }

  .logo-bienvenida {
    margin: 35px 0;
  }

  .logo-bienvenida img {
    width: 65px;
  }

  .titulo-bienvenida, .titulo-inicio-sesion {
    font-size: 22px;
  }

  .txt-bienvenida, .txt-indicaciones {
    font-size: 13px;
  }

  .txt-bienvenida{
    margin-bottom: 35px;
  }

  .wrap-select-sare {
    margin-bottom: 37px;
  }

  .select-selected, .select-items div {
    font-size: 14px;
  }

  .select-items {
    width: 81%;
    height: 130px;
  }

  .btn-inicio-sesion {
    padding: 15px 50px;
    font-size: 14px;
  }

  .btn-inicio-sesion:hover {
    box-shadow: none;
  }

  .btn-inicio-sesion:active {
    transform: scale(1);
  }

  .go-back {
    top: 6px;
    left: 8px;
  }

  .go-back img {
    width: 20px;
  }

  .titulo-inicio-sesion {
    margin-top: 22px;
  }

  .txt-indicaciones {
    margin-bottom: 30px;
  }

  .wrap-input {
    width: 70%;
    margin: 10px auto;
    padding: 8px 20px;
  }

  .input-form {
    padding: 5px 0px 2px 0px;
    margin-top: 7px;
  }

  .txt-user, .txt-password {
    top: 4px;
    left: 20px;
    font-size: 10px;
  }

}


/*  SPINNER */
@keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.lds-ellipsis {
  position: relative;
}
.lds-ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  top: -90px;
  left: 1%;
}
.lds-ellipsis div > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: lds-ellipsis 2.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis 2.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(1) div {
  -webkit-animation: lds-ellipsis2 2.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis2 2.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #71c2cc;
}
.lds-ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -1.15s;
  animation-delay: -1.15s;
  background: #d8ebf9;
}
.lds-ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.575s;
  animation-delay: -0.575s;
  background: #5699d2;
}
.lds-ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #1d3f72;
}
.lds-ellipsis div:nth-child(5) div {
  -webkit-animation: lds-ellipsis3 2.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis3 2.3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #71c2cc;
}
.lds-ellipsis {
  width: 200px !important;
  height: 0px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  margin: 0 auto;
}

.lds-css.ng-scope{
  display: none;
}