/sare_seg/target/
/sare_seg_db/target/
/sare_seg_services/target/
/sare_db/target/
/sare_services/target/
/sare_db/bin/target/
/sare_services/bin/target/
/sare_seg/bin/target/
\.project

*.class

*.xml
/sare_seg - copia/target/
/sare_masivo/target/