<div class="qL"> </div>
<div class="">
    <select id="slcapa" name="slcapa" class="pure-u-1-1" onchange="">
    </select>
</div>
<br>
<div class="left-align">
    <a id="btnIdentificaRegresar" onclick="">
        <i class="material-icons">
            arrow_back
        </i>   Regresar
    </a>
</div>
<table class="centered tabUE" id="tabUE_DENUE">
    <thead>
    <th>CLEE_EST</th>
    <th>Nombre</th>
    <th>Razón social</th>
    <th>Ficha</th>
</thead>
<tbody>

</tbody>
</table>

<table class="centered tabUE" id="tabUE_Matrices">
    <thead>
    <th>Clave Unica Matrices</th>
    <th>Nombre Matrices</th>
    <th>Razón social Matrices</th>
    <th>Ficha</th>
</thead>
<tbody>

</tbody>
</table>

<table class="centered tabUE" id="tabUE_Sucursales">
    <thead>
    <th>Clave Unica Unidades</th>
    <th>Nombre Unidades</th>
    <th>Razón social Unidades</th>
    <th>Ficha</th>
</thead>
<tbody>

</tbody>
</table>

<table class="centered tabUE" id="tabUE_eje">
    <tbody>

    </tbody>
</table>

<div id="tabUE_detalle">
    <table class="pure-table tabUE" id="tabUE_detalleTab">
        <tbody></tbody>
    </table>
</div>




<script>
    $(function () {
        //showUEficha("wdenue");
    });
</script>

