<form class="pure-form pure-form-aligned form-preview">
    
    <h6><i class="material-icons">place</i> Referencia</h6>

    <div  class="row left-align">
        <div class="col s3">
            <label for="e09_pv">Razón Social</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e09_pv">  </span>
        </div>
        
        <div class="col s3 ">               
            <label for="e08_pv">Nombre del establecimiento</label>
        </div>
         <div class="col s3 ">               
            <span class="vistaprevia" id="e08_pv">  </span>
        </div>
    </div>

    <div class="row left-align">
        <div class="col s3 ">        
            <label for="cve_unica_pv">CLEE_EST</label>
        </div>
        <div class="col">        
            <span class="vistaprevia" id="cve_unica_pv">  </span>
        </div>
    </div>
    
    <h6><i class="material-icons">public</i> Ubicaci&oacute;n geogr&aacute;fica</h6>
    <div class="row left-align">
        <div class="col s3">
            <label for="e03n_pv">Entidad Federativa</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e03n_pv">  </span>
        </div>
        
        <div class="col s3">
            <label for="e04n_pv">Municipio o Delegaci&oacute;n</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e04n_pv">  </span>
        </div>
    </div>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="e05n_pv">Localidad</label>
        </div>
         <div class="col s3">
            <span class="vistaprevia" id="e05n_pv">  </span>
        </div>
        <div class="col s3">
            <label for="e06_pv">AGEB</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e06_pv">  </span>
        </div>
    </div>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="e07_pv">Manzana</label>
        </div>
        <div class="col">
            <span class="vistaprevia" id="e07_pv">  </span>
        </div>
    </div>

    <h6><i class="material-icons">local_convenience_store</i> Domicilio</h6>
    <div class="row left-align">
            
        <div class="col s3">
            <label for="tipo_e10n_pv">Tipo de vialidad</label>
        </div>
         <div class="col s3">
            <span class="vistaprevia" id="tipo_e10n_pv">  </span>
        </div>

        <div class="col s3">
            <label for="e10_pv">Nombre de vialidad</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e10_pv">  </span>
        </div>
    </div>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="e10_e_pv">Nombre E10_E</label>
        </div>
        <div class="col">
            <span class="vistaprevia" id="e10_e_pv">  </span>
        </div> 
    </div>

    <div class="row left-align">
         <div class="col s3">
            <label for="e11_pv">N&uacute;mero exterior E11</label>
        </div>
         <div class="col s3">
            <span class="vistaprevia" id="e11_pv">  </span>
        </div>

        <div class="col s3">
            <label for="e11_a_pv">Letra E11_A </label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e11_a_pv">  </span>
        </div>
    </div>

    <div class="row left-align">
         <div class="col s3">
            <label for="e13_pv">N&uacute;mero interior E13</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e13_pv">  </span>
        </div>

        <div class="col s3">
            <label for="e13_a_pv">Letra E13_A </label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e13_a_pv">  </span>
        </div>
    </div>
    <!--
    <fieldset>
        <legend><i class="material-icons">local_movies</i> Datos vialidad</legend>
        <div class="pure-g">
            <div class="pure-u-1-3">
                <div class="pure-control-group">
                    <label for="tipo_administracion_pv">Tipo de administración</label>
                    <span class="vistaprevia" id="tipo_administracion_pv">  </span>
                </div>
                <div class="pure-control-group">
                    <label for="derecho_transito_pv">Derecho de tránsito</label>
                    <span class="vistaprevia" id="derecho_transito_pv">  </span>
                </div>
                 <div class="pure-control-group">
                    <label for="codigo_carretera_pv">Código de la carretera</label>
                    <span class="vistaprevia" id="codigo_carretera_pv">  </span>
                </div>
                   <div class="pure-control-group">
                    <label for="tramo_camino_pv">Tramo</label>
                    <span class="vistaprevia" id="tramo_camino_pv">  </span>
                </div>
                 <div class="pure-control-group">
                    <label for="cadenamiento_pv">Cadenamiento</label>
                    <span class="vistaprevia" id="cadenamiento_pv">  </span>
                </div>
                 <div class="pure-control-group">
                    <label for="margen_pv">Margen</label>
                    <span class="vistaprevia" id="margen_pv">  </span>
                </div>
            </div>
        </div>
    </fieldset>
    -->


    <h6><i class="material-icons">nature_people</i> Asentamiento</h6>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="tipo_e14n_pv">Tipo de asentamiento humano</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="tipo_e14n_pv">  </span>
        </div>
        
        <div class="col s3">
            <label for="e14_a_pv">CP</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e14_a_pv">  </span>
        </div>  
    </div>
        
    <div class="row left-align">
        <div class="col s3">
            <label for="e14_pv">Nombre del asentamiento</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e14_pv">  </span>
        </div>
    </div>
    
    <h6><i class="material-icons">local_movies</i> Entre vialidades</h6>
    <div class="row left-align">
        <div class="col s3">
            <label for="tipo_e10_an_pv">Tipo de vialidad 1</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="tipo_e10_an_pv">  </span>
        </div>
        
        <div class="col s3">
            <label for="e10_a_pv">Nombre de vialidad 1</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e10_a_pv">  </span>
        </div>
    </div>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="tipo_e10_bn_pv">Tipo de vialidad 2</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="tipo_e10_bn_pv">  </span>
        </div>
        
        <div class="col s3">
            <label for="e10_b_pv">Nombre de vialidad 2</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e10_b_pv">  </span>
        </div>
    </div>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="tipo_e10_cn_pv">Tipo de Calle posterior</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="tipo_e10_cn_pv">  </span>
        </div>
        
        <div class="col s3">
            <label for="e10_c_pv">Nombre de calle posterior</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e10_c_pv">  </span>
        </div>
    </div>
    
    <h6><i class="material-icons">comment</i> Descripción de la ubicación</h6>
    <div class="row left-align">
        <div class="col s3">
            <label for="descrubic">Descrubic</label>
        </div>
        <div class="col s7">
            <textarea rows="4" id="descrubic_pv" name="descrubic" readonly></textarea>
        </div>
    </div>
    
    <h6><i class="material-icons">location_city</i>  Edificio &oacute; Centro Comercial</h6>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="e12_pv">E12 Edificio</label>
        </div>
         <div class="col s3">
            <span class="vistaprevia" id="e12_pv">  </span>
        </div>
        
        <div class="col s3">
            <label for="tipo_e19n_pv">Tipo E19</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="tipo_e19n_pv">  </span>
        </div>
    </div>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="e12p_pv">E12P Piso</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e12p_pv">  </span>
        </div>
        
        <div class="col s3">
            <label for="e19_pv">E19 Nombre</label>
        </div>
        <div class="col s3">
            <span class="vistaprevia" id="e19_pv">  </span>
        </div>
    </div>
    
    <div class="row left-align">
        <div class="col s3">
            <label for="e20_pv">E20 No Local</label>
        </div>
        <div class="col">
            <span class="vistaprevia" id="e20_pv">  </span>
        </div>
    </div>
    <!--<fieldset>
       <legend><i class="fa fa-lock fa-2x"></i> Claves</legend>
       <div class="pure-g">
           <div class="pure-u-1-2">
               <div class="pure-control-group">
                   <label for="cod_resdes_pv">C&oacute;digo de resultado</label>
                   <span class="vistaprevia" id="cod_resdes_pv">  </span>
               </div>
           </div>
           <div class="pure-u-1-2">
               <div class="pure-control-group">
                   <label for="cve_unica_duplicada_pv">Clave &uacute;nica duplicada</label>
                   <span class="vistaprevia" id="cve_unica_duplicada_pv">  </span>
               </div>
           </div>
       </div>
   </fieldset>
   <fieldset>
       <legend><i class="fa fa-comments fa-2x"></i> Descripci&oacute;n de la ubicaci&oacute;n del establecimiento</legend>
       <textarea rows="4" id="descrubic_pv" name="descrubic" class="pure-u-1" placeholder="" readonly></textarea>
   </fieldset>
    <fieldset>
       <legend><i class="fa fa-commenting fa-2x"></i> Observaciones</legend>
       <span class="vistaprevia" id="observaciones_pv">  </span>
   </fieldset>-->

</form>
